#app-ctn {
    display: flex;
    flex-flow: row wrap;
    column-gap: 20px;
    max-height: 400px;
}

#control-ctn {
    display: flex;
    flex-flow: column nowrap;
    row-gap: 10px;
    max-width: 300px;
    box-sizing: border-box;
    padding: 5px;
}

#control-ctn #content-input {
    width: 86%;
}

#todo-list-wrp {
    display: flex;
    flex-flow: column nowrap;
    max-height: inherit;
    overflow: scroll;
}

